body{
    width: 1200px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    height: 100px;
    color: white;
    
    font-weight: bolder;
    font-size: x-large;
    padding-top: 10px;
    padding-left: 20px;
    background-image: url("/labo7/OpdrachtNatureBlog/header.jpg");
}
nav{
    background-color: darkslategrey;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;

}
nav > a{
    color:lightgreen;
    text-decoration: none;
}
article{
    background-color: lightgrey;
    padding-left: 10px;
    margin-top: -30px;
}
header > h1{
    font-size: xx-large;
    text-decoration: underline;
}