section {
    background: gray;
    border: 2px solid black;
    color: white;
}

div {
    height: 200px;
    width: 300px;
    display: inline-block;
}

.coloredBlock1 {
    background-color: red;
}

.coloredBlock2 {
    background-color: blue;
}