section{
    width: 47%;
    box-sizing: border-box;
    height: 100%;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    margin: 0px 5px 0px 5px;
    float:left;
}