.container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    grid-template-rows: auto;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column: span 3;
    
    background-color: #b6366a;
 }
.block.block2{
    grid-column: span 3;
    background-color: #726ea6;
}
.block.block3{
    grid-column: 1/2;
    background-color: #7d8dc2;

}
.block.block4{
    grid-column: 2/4;
    background-color: #a1d2da;

}
.block.block5{
    visibility: hidden;
}
.block.block6{
    visibility: hidden;
}
.block.block7{
    visibility: hidden;
}
.block.block8{
    visibility: hidden;
}
